Source: ros-indigo-cob-hand
Section: misc
Priority: extra
Maintainer: Felix Messmer <felixmessmer@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/cob_hand
Standards-Version: 3.9.2

Package: ros-indigo-cob-hand
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cob-hand-bridge
Description: The cob_hand stack includes packages that provide access to the Care-O-bot hand through ROS serial.
